 body{
    font-family:Roboto,sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
  box-sizing:border-box;
  background-color:#282C34;
  color:rgb(29,27,27);
 }
 header{
    background-color:pink;
    color: #fff;
    padding: 20px 0;
    text-align: center;
 }
 nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0;
 }
 nav ul li{
    display: inline;
    margin: 0 15px;
 }
 nav ul li a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  position:relative;
 }
 nav ul li a:hover{
   color:green;
 }
 section{
    margin: 20px auto;
    padding: 50px;
    max-width: 800px;
    text-align: center;
  
 }
#project,#about#contact-me.{
 max-width:800px
  margin:20px outo;
}
.project{
 background-color: pink;
 margin:20px auto;
 padding:20px;
 border-radius:10px;
 box-shadow:0 4px 6px rgba(0000.1);
 trasition:transform 0.3s ease-in-out;
 display:flex;
 flex-derction:column;
 aling-item:center
}
.project hover{
 trasfrom:traslate(-5px)
}
form{
 disaplay:flex;
 flex-direction:column;
 gap:15PX;
 max-width:400px;
 margin:0 auto;
}
input,textarea,button{
 width:100%
  padding:10px;
 font-size:1rem;
 border:1px solid #ccc;
 bodder-radius:5px;
}
button{
 background-color:#333;
 color:white;
 cursor:pointer;
 trasition:background-color o.3s
section h2{
 color:#333;
 margin-bottom:20px;
 button:hover{
  background-color:3ff9800;
 footer{
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px 0;
   position: absolute;
   bottom: 0;
   width: 100%;
 }
  nav ul li a:nefore{
   content:'';
   position:absolute;
   left:0; 
   height:2px;
   width:0;
   background:#ff9800;
   transition:width0.3s ease-in-out;
  }
  nav ul li a:hover::before{
   width:100%;
  }
  @media(max-width:768px{
   nav ul{
    flex-direction:column;
   }
   project{
    text-align:center;
   }
  }
